// VARIABLES
@primary: #2aacc8;

// MIXINS
.clearfix() {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}

// RESET CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, a, ul, li, p, div, span {
  font-weight: normal;
  text-decoration: none;
  color: #000000;
  list-style-type: none;
}

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #e8ebf1;

  .flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0; 
    flex-wrap: wrap;

    .brand-logo {
      width: 15%;
      min-width: 150px;
      font-size: 3.574rem;

      span {
        color: @primary;
      }
    }

    .navbar {
      width: 64%;

      .navbar-menu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
          a {
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            padding: 10px;
            border-top: 3px solid rgba(0,0,0,0);

            &:hover {
              background: #ffffff;
              border-top-color: @primary;
            }
          }
        }
      }
    }
  }
}

.slider {
  background-color: #81e4ed;
  padding: 15px 0 10px; 

  .slider-block {
    background-image: url('../img/slider-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 60px;

    h2 {
      width: 30%;
      font-size: 3.574rem;
      color: #ffffff;
    }
  }

  .switchers {
    margin-top: 10px;
    text-align: center;

    .switcher {
      display: inline-block;
      min-height: 18px;
      width: 18px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.281);
      margin-right: 10px;

      &.active {
        background-color: #ffffff;
      }
    }
  }
}

.activities-cards {
  padding: 55px 0;
  background-color: #e8ebf1;
  
  .flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 22%;
    min-width: 200px;
    margin-bottom: 20px;

    .card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        background-color: @primary;
        border-radius: 50%;
        padding: 15px 0;
        width: 45px;
        text-align: center;
        
        .fas, .fab {
          color: #ffffff;
          font-size: 1.2rem;
        }
      }
      h3 {
        padding-top: 10px;
        padding-left: 20px;
        width: 80%;
        text-transform: uppercase;
        font-weight: bold;
      }
      
    }
    .card-text {
      padding: 20px 0;
      line-height: 150%;
    }

    .fas {
      vertical-align: middle;
    }

    .card-link {
      margin-left: 10px;
      color: @primary;
      vertical-align: middle;
    }
  }
}

.about {
  padding: 30px 0;

  .about-title {
    width: 20%;
    display: flex;
    align-items: center;

    h2 {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 30px;
    }
  }
  
  .far, .fas {
    font-size: 1.5rem;
    color: @primary;
  }

  .latest-works-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    padding-bottom: 10px;

    
    .latest-works-arrows {
      
      .arrow {
        display: inline-block;
        padding: 10px 0;
        border-radius: 50%;
        width: 40px;
        background-color: @primary;
        text-align: center;
        cursor: pointer;

        span {
          color: #ffffff;
        }
      }
    }

  }

  .latest-works-slider {
    overflow-x: hidden;
    margin-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);

    .slide-strip {
      width: 40000px;
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      
      .latest-work-slide {
        width: 240px;
        padding: 80px 0;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 20px;
        margin-left: 20px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }

  .about-sections {
    margin-top: 20px;
    .flex-wrap {
      display: flex;
      
      .testimonial-block {
        width: 46%;

        .testimonial-text {
          padding: 20px 0;
        }
      }

      .our-clients-block {

      }
    }
  }
  
}